/* Global */
/* ---------------------------------- */
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_24pt-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_24pt-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

/* Blocks */
/* ---------------------------------- */
.header {
  width: 100%;
  position: fixed;
  padding: 20px 0;
  top: 0;
  left: 0;
  z-index: 100;
}
.header__content {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px 25px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.header__logo {
  font-family: Jost, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #1d252d;
  text-decoration: none;
  margin: 0;
}
.header__left-col {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__btn {
  border: 1px solid #524a31;
  border-radius: 25px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 8px;
  background-color: black;
  color: white;
}
.header__btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.877);
}
.header__menu-logo {
  color: white;
}
.header__nav {
  display: flex;
  gap: 50px;
}
.header__nav-link {
  text-decoration: none;
  color: #1d252d;
}
.header__nav-item {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #1d252d;
  display: flex;
  align-items: center;
}
.header__nav-item:hover {
  cursor: pointer;
  text-decoration: underline;
}
.header__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.header__contact {
  color: #1d252d;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.header__contacts-item {
  border-radius: 50%;
}
.header__contact:hover {
  background-color: rgba(220, 220, 220, 0.479);
}
.header__menu {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(82, 82, 82, 0.7529411765);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
  transition: display 1s linear;
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;
  transition: all 0.4s ease;
}
.header__menu-active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}
.header__input-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.header__input {
  border: 1px solid rgb(151, 116, 85);
  border-radius: 20px;
  width: 150px;
  padding: 12px 10px 10px 13px;
}
.header__input:hover {
  border: 1px solid rgb(138, 101, 68);
}
.header__search-button {
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  padding: 10px 10px;
  border-radius: 16px;
  gap: 10px;
  align-items: center;
}
.header__search-button:hover {
  background-color: rgba(45, 45, 51, 0.062);
}

.start-img {
  width: 100%;
  clip-path: polygon(0 35%, 100% 35%, 100% 100%, 0% 100%);
  margin: -130px 0 80px 0;
}

.intro {
  margin: 150px 0 70px 0;
}
.intro__content {
  background: url("/images/imfg-fone.jpg") no-repeat center/cover;
  width: 100%;
  height: 500px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: relative;
}
.intro__title {
  margin: 50px 0 20px 0;
  font-size: 35px;
}
.intro__subtext {
  font-size: 14px;
  margin: auto 0 0 0;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.intro__logo {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.0352941176);
  padding: 10px;
  border-radius: 12px;
}

.main {
  margin: 0 0 70px 0;
}
.main__right {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main__right-title {
  margin: 0 0 20px 0;
}
.main__right-item {
  padding: 10px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(10, 7, 7, 0.068);
  border-radius: 6px;
  width: calc(33.33% - 7px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
.main__right-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 200px;
  width: 100%;
}
.main__item-title::before {
  content: "";
  display: block;
  height: 1px;
  background-color: black;
  margin: 5px 0 15px 0;
}
.main__item-title {
  margin: 0;
  color: rgb(51, 43, 10);
}
.main__item-subtitle {
  margin: 2px 0 15px 0;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5137254902);
}
.main__item-price {
  font-weight: bold;
  display: block;
  margin: 0 0 25px 0;
}
.main__buttons {
  display: flex;
}
.main__buy-button {
  width: 100%;
  padding: 10px;
  border: 1px solid brown;
  background-color: transparent;
  border-radius: 8px;
  transition: background-color 0.2s linear;
  cursor: pointer;
}
.main__buy-button:hover {
  background-color: rgba(250, 128, 114, 0.356);
}
.main__buttons {
  margin: auto 0 0 0;
}
.main__img {
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
}
.main__img-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__container {
  display: flex;
  gap: 50px;
}
.main__left {
  position: relative;
  display: flex;
  flex-direction: column;
}
.main__left-content {
  width: 300px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.212);
  margin: 50px 0 0 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.267);
  position: sticky;
  top: 150px;
}
.main__left-item {
  margin: 0 0 10px 0;
  width: 100%;
}
.main__left-list {
  width: 100%;
}
.main__left-button {
  width: 100%;
  padding: 10px;
  border: 1px solid brown;
  background-color: transparent;
  border-radius: 8px;
  transition: background-color 0.2s linear;
  cursor: pointer;
}
.main__left-button:hover {
  background-color: rgba(250, 128, 114, 0.356);
}

#all {
  margin: 0 0 20px 0;
  position: relative;
}
#all::after {
  content: "";
  height: 1px;
  background-color: black;
  position: absolute;
  width: 100%;
  bottom: -15px;
  left: 0;
}

#loadMore {
  margin: 30px auto;
  width: 50%;
  padding: 10px;
  border: 1px solid brown;
  background-color: transparent;
  border-radius: 8px;
  transition: background-color 0.2s linear;
  cursor: pointer;
}
#loadMore:hover {
  background-color: rgba(250, 128, 114, 0.356);
}
#loadMore:disabled {
  background-color: rgba(126, 125, 125, 0.3490196078);
  border-color: gray;
  cursor: default;
}

.added {
  background-color: rgba(250, 128, 114, 0.356);
}

.basket {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  position: absolute;
  left: 20%;
  top: 100%;
  box-shadow: 0 10px 60px 0 rgba(72, 72, 72, 0.1019607843);
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: opacity 0.3s linear, transform 0.3s linear;
  z-index: 10;
  width: a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.basket--active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
.basket__empty-block {
  text-align: center;
  padding: 40px;
  width: 366px;
}
.basket__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  margin: 0 0 16px;
  padding: 0;
}
.basket__item {
  display: grid;
  gap: 20px;
  grid-template-columns: 60px 170px 76px 20px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}
.basket__img {
  align-items: flex-start;
  background-color: rgb(182, 176, 176);
  border-radius: 6px;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 60px;
  overflow: hidden;
}
.basket__img__item-close {
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
}
.basket__img img {
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 60px;
}
.basket__link {
  display: flex;
  flex-direction: column;
  padding: 7px 10px;
  color: #000;
  text-decoration: none;
  border: 1px solid brown;
  border-radius: 8px;
  margin: 10px 0 0 0;
  transition: background 0.2s linear;
}
.basket__link:hover {
  background-color: rgba(250, 128, 114, 0.356);
}

.main__menu-icon {
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  background-color: rgba(252, 199, 55, 0.1529411765);
}
.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
}
.footer__contacts-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__contacts-mail {
  color: rgb(48, 32, 12);
  text-decoration: none;
}
.footer__contacts-mail:hover {
  text-decoration: underline;
}
.footer__contacts-phone {
  color: rgb(48, 32, 12);
  display: block;
  opacity: 1;
  text-decoration: none;
}
.footer__contacts-phone:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */