.basket {
  background-color: $color-white;
  border-radius: 8px;
  padding: 16px;
  position: absolute;
  left: 20%;
  top: 100%;
  box-shadow: 0 10px 60px 0 #4848481A;
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: opacity 0.3s linear , transform 0.3s linear;
  z-index: 10;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }

  &__empty-block {
    text-align: center;
    padding: 40px 100px;
    width: auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    margin: 0 0 16px;
    padding: 0;
  }

  &__item {
    display: grid;
    gap: 20px;
    grid-template-columns: 75px 115px 1fr 40px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    border: 1px solid burlywood;
    padding: 10px 20px 10px 10px;
    border-radius: 12px;
    transition: background 0.1s linear;

    &:hover {
      background-color: rgba(222, 184, 135, 0.151);
    }
  }

  &__img {
    align-items: flex-start;
    background-color: white;
    border-radius: 6px;
    display: flex;
    height: 75px;
    justify-content: center;
    width: 75px;
    overflow: hidden;


    img {
      height: 75px;
      object-fit: contain;
      width: 75px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    padding: 7px 10px;
    color: #000;
    text-decoration: none;
    border: 1px solid brown;
    border-radius: 8px;
    margin: 10px 0 0 0;
    transition: background 0.2s linear;

    &:hover {
      background-color: rgba(250, 128, 114, 0.356);
    }
  }
}

.main__menu-icon {
  padding: 0;
    width: 20px;
    height: 20px;
}

.basket__item-close {
  width: 40px;
  height: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      background-color: transparent;
      cursor: pointer;
      border-radius: 8px;
      border: none;
      transition: background 0.2s linear, box-shadow 0.1s linear;

      &:hover {
        background-color: #ffffff80;
        box-shadow: 0 0 5px 1px rgba(224, 38, 17, 0.568);
      }
}